@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
      opacity: 0;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  background: #f0f0f0; /* Replace $background_color with a hex value */
}

#log {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 10px 10px;
  overflow: hidden;
  font: 600 16px Arial, sans-serif; /* Replace $font_size and $font_face */
}

#log > div {
  position: relative;
  margin-top: 20px;
  padding-left: 56px;
  animation: fadeInUp 0.5s ease, fadeOut 0.5s ease 3s forwards; /* Replace $message_hide_delays */
}

#log > div.broadcaster,
#log > div.moderator {
  padding: 0 56px 0 0;
  text-align: right;
}

#log > div.deleted {
  visibility: hidden;
}

#log > div::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(https://marshall-ku-tgd.github.io/tmpImages/cat.png) center no-repeat;
  background-size: cover;
  border-radius: 5px;
}

#log > div.broadcaster::before {
  background: url(https://marshall-ku-tgd.github.io/tmpImages/cat.png) center no-repeat;
}

#log > div.moderator::before {
  background: url(https://marshall-ku-tgd.github.io/tmpImages/cat.png) center no-repeat;
}

#log > div.broadcaster::before,
#log > div.moderator::before {
  left: auto;
  right: 0;
}

#log > div .colon {
  display: none;
}

#log > div .meta {
  display: block;
  font-size: 16px; /* Replace $font_size */
  line-height: 1.3;
  margin-bottom: 3px;
}

#log > div.broadcaster .meta,
#log > div.moderator .meta {
  text-align: right;
}

#log > div .meta > img {
  display: inline-block;
  height: 16px; /* Replace $font_size */
  width: auto;
  margin-right: 4.5px;
  float: none !important;
}

#log > div .message {
  position: relative;
  display: inline-block;
  background: #fff;
  color: #000;
  border-radius: 0.4em;
  padding: 5px;
}

#log > div .message::after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  width: 17.5px;
  height: 25px;
  border: 0 solid #fff;
  border-width: 0 20px;
  border-radius: 50%;
  clip: rect(0, 38px, 14px, 29px);
  display: block;
  z-index: 1;
  left: -37.5px;
  top: 5px;
}

#log > div.broadcaster .message::after,
#log > div.moderator .message::after {
  left: auto;
  right: -37.3px;
  clip: rect(0, 28px, 10px, 20px);
}


/*********************/
